In [1]:
import os 
cwd = os.getcwd()

os.chdir('../')
cwd = os.getcwd()
print(cwd)

os.chdir('./code/')
cwd = os.getcwd()
print(cwd)

import pandas as pd 
import numpy as np 
import seaborn as sns

import pickle 
import logging


from config.config import SQLQuery
querySno = SQLQuery('snowflake')

/Users/shashankgupta/Documents/code/git_project/plaid_credit
/Users/shashankgupta/Documents/code/git_project/plaid_credit/Code

In [2]:
querySno = SQLQuery('snowflake')
base = querySno(r""" 
select * from prod_db.adhoc.lending_response_base_w_plaid_match_g20_txns_20230624
""")
base.shape

(646, 7)

In [3]:
base.head()

,business_id,lending_business_id,decision_date,drawn_flag,everDPD_15,fico_score,target
0,a2317f88-325b-43ee-9423-6c711856555b,01e38425-5486-4c95-b6b0-de5c57319255,2023-02-02,1,0,721,0
1,252c9a3f-338f-43fc-893f-87e4c8184e8c,166d62fb-70ed-4214-8a75-1223dfbbd06e,2023-03-15,1,0,846,0
2,420bb9d6-c156-4e29-8060-420fa8753e7f,2c5dbbbc-327b-48ac-a737-73dc0c2a4d26,2023-03-07,1,0,720,0
3,d9f1ffe7-f652-45ec-bdd6-5d530cf6a24a,588d7169-4d5c-4725-bc69-3e6d5e32d394,2023-02-15,1,0,720,0
4,588127e8-c54e-42d0-955a-a22e64207a2f,4bbe29b6-f631-4146-829c-880d71809e26,2023-03-24,1,0,687,0

In [4]:
bids_tuple = tuple(base['business_id'])
lid_tuple = tuple(base['lending_business_id'])

In [5]:
querySno = SQLQuery('snowflake')
credit_df = querySno(r""" 
select * from prod_db.adhoc.lending_dda_txns_w_owned_flag_final_20230625
where type = 'credit'
""")
credit_df.shape

(41020, 21)

In [6]:
credit_df.head()

,id,transaction_id,date,amount,plaid_account_id,pending,description,created_at,merchant_name,retrieved_at,...,plaid_item_id,external_account_id,updated_at,meta,iso_currency_code,categories,business_id,_fivetran_deleted,_fivetran_synced,owned_by
0,4c8e4bf9-0b2a-4413-80f0-53c701918dc3,66Rx0pvbDnIa776Ng9O8SQMjMJB4K5fmjaB6o,2023-01-12,-1500.00,NbPydzB7RxfXmm6Yvy83sZKboR4n8nURBorEL,false,CHIME3_DEBIT - P2P,2023-01-13 07:41:05.323000+00:00,None,2023-01-13 07:41:05.323000+00:00,...,216c5474-1788-42f1-aaee-29dd8b441e89,a1f1b265-8f73-4212-b4dd-93fbb3547b7f,2023-01-13 07:41:05.323000+00:00,"{\n ""account_id"": ""NbPydzB7RxfXmm6Yvy83sZKboR...",USD,"Transfer,Credit",480acd65-6031-45f9-a612-d18904ea9e79,None,2023-02-20 13:36:48.810000+00:00,business
1,deb6d965-294e-44b4-8355-34259cfcf171,66Rx0pvbDnIa776Ng9OKsZvqMgY5MvFYJw5QD,2023-01-13,-2750.00,NbPydzB7RxfXmm6Yvy83sZKboR4n8nURBorEL,false,CHIME3_DEBIT - P2P,2023-01-14 07:40:47.343000+00:00,None,2023-01-14 07:40:47.343000+00:00,...,216c5474-1788-42f1-aaee-29dd8b441e89,a1f1b265-8f73-4212-b4dd-93fbb3547b7f,2023-01-14 07:40:47.343000+00:00,"{\n ""account_id"": ""NbPydzB7RxfXmm6Yvy83sZKboR...",USD,"Transfer,Credit",480acd65-6031-45f9-a612-d18904ea9e79,None,2023-02-20 20:01:52.286000+00:00,business
2,5d0a7bef-559d-4f7e-9b8d-1db195846a2d,3MQrkpK0wEuBvved3xmgT5xZv847qdHPOygya,2023-01-17,-4000.00,NbPydzB7RxfXmm6Yvy83sZKboR4n8nURBorEL,false,CHIME3_DEBIT - P2P,2023-01-18 07:33:50.704000+00:00,None,2023-01-18 07:33:50.704000+00:00,...,216c5474-1788-42f1-aaee-29dd8b441e89,a1f1b265-8f73-4212-b4dd-93fbb3547b7f,2023-01-18 07:33:50.704000+00:00,"{\n ""account_id"": ""NbPydzB7RxfXmm6Yvy83sZKboR...",USD,"Transfer,Credit",480acd65-6031-45f9-a612-d18904ea9e79,None,2023-02-20 14:17:34.268000+00:00,business
3,bfb273e1-3d5a-4b6d-9356-f03ec4e9ad4f,Vw64BzjM87u8zzQqgZx6fQkxeJjYBOcJwwmdPb,2023-01-24,-9495.94,NbPydzB7RxfXmm6Yvy83sZKboR4n8nURBorEL,false,STRIPE - TRANSFER,2023-01-25 07:28:15.788000+00:00,None,2023-01-25 07:28:15.788000+00:00,...,216c5474-1788-42f1-aaee-29dd8b441e89,a1f1b265-8f73-4212-b4dd-93fbb3547b7f,2023-01-25 07:28:15.788000+00:00,"{\n ""account_id"": ""NbPydzB7RxfXmm6Yvy83sZKboR...",USD,"Transfer,Credit",480acd65-6031-45f9-a612-d18904ea9e79,None,2023-02-20 18:41:38.608000+00:00,business
4,43722dc8-cf69-465f-8f50-e2a741ac6314,OgqKwz3BXJtmeexdyprwu1B6X1YaO0cMo4vX6,2023-01-25,-537.80,NbPydzB7RxfXmm6Yvy83sZKboR4n8nURBorEL,false,STRIPE - TRANSFER,2023-01-26 07:28:54.878000+00:00,None,2023-01-26 07:28:54.878000+00:00,...,216c5474-1788-42f1-aaee-29dd8b441e89,a1f1b265-8f73-4212-b4dd-93fbb3547b7f,2023-01-26 07:28:54.878000+00:00,"{\n ""account_id"": ""NbPydzB7RxfXmm6Yvy83sZKboR...",USD,"Transfer,Credit",480acd65-6031-45f9-a612-d18904ea9e79,None,2023-02-20 13:18:12.856000+00:00,business

In [7]:
#no credit transactions
t = base.merge(credit_df[['business_id','description']],how='left',on='business_id')
t[t['description'].isnull()].shape

(9, 8)

In [8]:
df = credit_df.merge(base,on=['business_id'])

In [9]:
df.drop('meta',axis=1,inplace=True)

In [10]:
df['amount'] = df['amount'].astype('float')
df['amount'] = -1*df['amount']

In [11]:
df.shape

(41020, 26)

In [12]:
len(df['business_id'].unique())

637

In [13]:
df.columns

Index(['id', 'transaction_id', 'date', 'amount', 'plaid_account_id', 'pending',
       'description', 'created_at', 'merchant_name', 'retrieved_at', 'type',
       'plaid_item_id', 'external_account_id', 'updated_at',
       'iso_currency_code', 'categories', 'business_id', '_fivetran_deleted',
       '_fivetran_synced', 'owned_by', 'lending_business_id', 'decision_date',
       'drawn_flag', 'everDPD_15', 'fico_score', 'target'],
      dtype='object')

In [14]:
df['date'] = pd.to_datetime(df['date']) 
df['decision_date'] = pd.to_datetime(df['decision_date'])
df['datediff'] = df['decision_date'] - df['date']
df['datediff'] = df['datediff'].dt.days

In [15]:
df_copy = df.copy()

#### Keywords

In [16]:
finance_merchants = ['Affirm','Upstart','Dave','Pennymac','Navient','MoneyLion','Affirm Inc','Wf Home Mtg','Rocket Mortgage','OneMain Financial','Kikoff Lending','Lightstream','Avant','SoFi','Firstmark','Mohela','Dovenmuehle Mortgage','Dept Education','Progressive Leasing','Great Lakes','Mr. Cooper','Dave Inc','Nationstar Dba','GM Financial','Uplift','Chrysler Capital','Flagstar',	'Loan',	'Continental Finance',	'Freedom Mortgage',	'Fundbox Inc.',	'Empower',	'Snap Finance',	'Sezzle',	'Dovenmuehle Mtg',	'Navient Navi',	'Navient Pmt Spe',	'Fedloanservicing Stdnt Loan',	'Earnin',	'Hmfusa',	'Sba Loan',	'American Education Services',	'Unitedwholesale',	'Nelnet Loan Serv',	'Progressivelease',	'Upstart Network',	'Netcredit',	'Con Ed Of Ny',	'Avant LLC',	'Install Loan',	'Quicken Loans',	'Educational Comp',	'Bmwfinancial Svs',	'Of America',	'To Loan',	'Possible Finance',	'Gm Financial',	'Sofi Securities',	'Ford Credit',	'Navient-fdr',	'Self Lender',	'Albert',	'Mariner Finance',	'Aes Stdnt Loan',	'Auto Loan',	'Freedom Mtg',	'Onemain',	'Td Auto',	'Marcus',	'Cont Finance',	'Service Finance',	'Bridgecrest',	'Credit Acceptance',	'Mortgage Serv',	'Quicken Loans Mtg',	'Vw Credit Tel.',	'Qoins',	'Flex Finance',	'Lending Club',	'Advance America',	'Amerihome Mtg',	'Home Mtg',	'Guild Mortgage',	'Onemain Loan',	'Lakeview Ln Srv',	'Iphone Citiz',	'Moneylion',	'Navi Ed Serv Web',	'Loancare Serv',	'Affirm Payment',	'Self Lender Scc',	'Small Business Administration',	'Fedloanservicing',	'UAS',	'Caliber Home Loa',	'Nelnet Loan Srv',	'United Wholesale Mortgage',	'Speedy Cash',	'Edward Jones',	'Charles Schwab','DreamSpring','Bluevine','INTUIT']
finance_keywords = ['loan', 'finance','disburs','cash advance','advance']
loan_sba = ['shopify capital', 'knight', 'expansion', 'payin', 'sba', 'ondeck', 'kabbage', 'bluevine', 'headway', 'prosper', 'onramp','direct capital edi','lightstream', 'onemain', 'intuit financ', 'ninja', 'good funding','SoFi']

payroll_keywords = ['quickbooks','ADP','Gusto','Paychex flex','Onpay','Paycor','payroll']

uber_keywords = ['uber','lyft','car service','ride share']

refunds_keywords = ['reverse', 'reversal', 'refund', 'return']

pos_keywords1 = ['POS']
pos_keywords2 = ['card payment','point of sale']
pos_cat = ['ATM']

rent_keywords = ['rent', 'airbnb']

ecom_keywords = ['shopify', 'ebay','amazon', 'sears', 'target','bigcommerce','shift4shop','opencart','prestashop','magento','wix','woocommerce','godaddy','ecwid','bigcartel','nopcommerce','walmart','costco','home depot','best buy']

third_party = ['venmo','zelle','cash app','cashapp','afterpay','paypal','square','digit','acorns','betterment']
third_party_cat = ['third party']

biz_rev_desc = ['stripe','USAA','capital one','airbnb','rent']
service_cat = ['Service','Healthcare','Taxi','education','recreation','gaming','freight','stock broker','photography','real estate','lodging','subscription']
shops_cat = ['Shops','gas station','travel','food','digital purchase','restaurants','community','groceries','beauty','fitness','gyms','clothing','sport','florist']
bank_fees_cat = ['bank fees']

#categories == Service

#### keywords for transaction categories

In [17]:
# keywords for description column
finance_keywords = ['loan', 'finance','disburs','cash advance','advance']
loan_sba = ['shopify capital', 'knight', 'expansion', 'payin', 'sba', 'ondeck', 'kabbage', 'bluevine', 'headway', 'prosper', 'onramp','direct capital edi','lightstream', 'onemain', 'intuit financ', 'ninja', 'good funding','SoFi','rentsidual']

payroll_keywords = ['quickbooks','ADP','Gusto','Paychex flex','Onpay','Paycor','payroll']

pos_keywords1 = ['POS']
pos_keywords2 = ['card payment','point of sale','square']

ecom_keywords = ['shopify', 'ebay','amazon', 'sears', 'target','bigcommerce','shift4shop','opencart','prestashop','magento','wix','woocommerce','godaddy','ecwid','bigcartel','nopcommerce','walmart','costco','home depot','best buy']

third_party = ['venmo','zelle','cash app','cashapp','afterpay','paypal','square cash','digit','acorns','betterment','coinbase']

service = ['Service','Healthcare','Taxi','education','recreation','gaming','freight','stock broker','photography','real estate','lodging','subscription']
shops = ['Shops','gas station','travel','food','digital purchase','restaurants','community','groceries','beauty','fitness','gyms','clothing','sport','florist']

biz_rev = ['stripe','USAA','capital one','airbnb','rent','ACH deposit','cash','']
biz_rev_cat = ['wire']

In [18]:
# keywors for categories column
finance_merchants = ['Affirm','Upstart','Dave','Pennymac','Navient','MoneyLion','Affirm Inc','Wf Home Mtg','Rocket Mortgage','OneMain Financial','Kikoff Lending','Lightstream','Avant','SoFi','Firstmark','Mohela','Dovenmuehle Mortgage','Dept Education','Progressive Leasing','Great Lakes','Mr. Cooper','Dave Inc','Nationstar Dba','GM Financial','Uplift','Chrysler Capital','Flagstar',	'Loan',	'Continental Finance',	'Freedom Mortgage',	'Fundbox Inc.',	'Empower',	'Snap Finance',	'Sezzle',	'Dovenmuehle Mtg',	'Navient Navi',	'Navient Pmt Spe',	'Fedloanservicing Stdnt Loan',	'Earnin',	'Hmfusa',	'Sba Loan',	'American Education Services',	'Unitedwholesale',	'Nelnet Loan Serv',	'Progressivelease',	'Upstart Network',	'Netcredit',	'Con Ed Of Ny',	'Avant LLC',	'Install Loan',	'Quicken Loans',	'Educational Comp',	'Bmwfinancial Svs',	'Of America',	'To Loan',	'Possible Finance',	'Gm Financial',	'Sofi Securities',	'Ford Credit',	'Navient-fdr',	'Self Lender',	'Albert',	'Mariner Finance',	'Aes Stdnt Loan',	'Auto Loan',	'Freedom Mtg',	'Onemain',	'Td Auto',	'Marcus',	'Cont Finance',	'Service Finance',	'Bridgecrest',	'Credit Acceptance',	'Mortgage Serv',	'Quicken Loans Mtg',	'Vw Credit Tel.',	'Qoins',	'Flex Finance',	'Lending Club',	'Advance America',	'Amerihome Mtg',	'Home Mtg',	'Guild Mortgage',	'Onemain Loan',	'Lakeview Ln Srv',	'Iphone Citiz',	'Moneylion',	'Navi Ed Serv Web',	'Loancare Serv',	'Affirm Payment',	'Self Lender Scc',	'Small Business Administration',	'Fedloanservicing',	'UAS',	'Caliber Home Loa',	'Nelnet Loan Srv',	'United Wholesale Mortgage',	'Speedy Cash',	'Edward Jones',	'Charles Schwab','DreamSpring','Bluevine','INTUIT']

payroll = ['payroll']

pos_cat = ['ATM']

third_party_cat = ['third party']

service_cat = ['service']
shops_cat = ['shops']

bank = ['bank fees']

#### Transaction categorisation

In [19]:
#POS 
df['pos_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(pos_keywords1))),'pos_flag'] = 1
df.loc[(df['description'].str.contains('|'.join(pos_keywords2),case=False)),'pos_flag'] = 1
df.loc[(df['categories'].str.contains('|'.join(pos_cat),case=False)),'pos_flag'] = 1

df['pos_flag'].value_counts()

0    35364
1     5656
Name: pos_flag, dtype: int64

In [20]:
## Loans
# merchant
df['loans_flag'] = 0

df.loc[df['merchant_name'].isnull(),'merchant_name'] = ''
df.loc[(df['merchant_name'].str.contains('|'.join(finance_merchants), case=False)),'loans_flag'] = 1

# desc
df.loc[(df['description'].str.contains('|'.join(loan_sba), case=False)),'loans_flag'] = 1
df.loc[(df['description'].str.contains('|'.join(finance_keywords), case=False)),'loans_flag'] = 1

df['loans_flag'].value_counts()

0    40327
1      693
Name: loans_flag, dtype: int64

In [21]:
# Payroll
df['payroll_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(payroll_keywords), case=False)),'payroll_flag'] = 1
df.loc[(df['categories'].str.contains('|'.join(payroll), case=False)),'payroll_flag'] = 1

df['payroll_flag'].value_counts()

0    36516
1     4504
Name: payroll_flag, dtype: int64

In [22]:
#ecom
df['ecom_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(ecom_keywords), case=False)),'ecom_flag'] = 1
df['ecom_flag'].value_counts()

0    39122
1     1898
Name: ecom_flag, dtype: int64

In [23]:
#third party
df['third_party_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(third_party), case=False)),'third_party_flag'] = 1

df.loc[(df['categories'].str.contains('|'.join(third_party_cat), case=False)),'third_party_flag'] = 1

df['third_party_flag'].value_counts()

0    31797
1     9223
Name: third_party_flag, dtype: int64

In [24]:
#Services
df['service_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(service), case=False)),'service_flag'] = 1

df.loc[(df['categories'].str.contains('|'.join(service_cat), case=False)),'service_flag'] = 1

df['service_flag'].value_counts()

0    38393
1     2627
Name: service_flag, dtype: int64

In [25]:
#Shops
df['shops_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(shops), case=False)),'shops_flag'] = 1

df.loc[(df['categories'].str.contains('|'.join(service_cat), case=False)),'shops_flag'] = 1

df['shops_flag'].value_counts()

0    38670
1     2350
Name: shops_flag, dtype: int64

In [26]:
# ACH
df['ach_flag'] = 0
df.loc[df['description'].str.contains('ACH'),'ach_flag'] = 1
df['ach_flag'].value_counts()

0    38431
1     2589
Name: ach_flag, dtype: int64

In [27]:
print('loans count = {}'.format(df['loans_flag'].sum()))
print('payrolls count = {}'.format(df['payroll_flag'].sum()))
print('third party count = {}'.format(df['third_party_flag'].sum()))
print('ecom count = {}'.format(df['ecom_flag'].sum()))
print('service count = {}'.format(df['service_flag'].sum()))
print('shops count = {}'.format(df['shops_flag'].sum()))
print('POS count = {}'.format(df['pos_flag'].sum()))

loans count = 693
payrolls count = 4504
third party count = 9223
ecom count = 1898
service count = 2627
shops count = 2350
POS count = 5656

In [28]:
df.columns

Index(['id', 'transaction_id', 'date', 'amount', 'plaid_account_id', 'pending',
       'description', 'created_at', 'merchant_name', 'retrieved_at', 'type',
       'plaid_item_id', 'external_account_id', 'updated_at',
       'iso_currency_code', 'categories', 'business_id', '_fivetran_deleted',
       '_fivetran_synced', 'owned_by', 'lending_business_id', 'decision_date',
       'drawn_flag', 'everDPD_15', 'fico_score', 'target', 'datediff',
       'pos_flag', 'loans_flag', 'payroll_flag', 'ecom_flag',
       'third_party_flag', 'service_flag', 'shops_flag', 'ach_flag'],
      dtype='object')

In [29]:
# Month flag
df['1M_flag'] = 0
df['3M_flag'] = 0
df['6M_flag'] = 0

df.loc[df['datediff'] <= 30,'1M_flag'] = 1
df.loc[df['datediff'] <= 90,'3M_flag'] = 1
df.loc[df['datediff'] <= 180,'6M_flag'] = 1

print('1M count = {}'.format(df['1M_flag'].sum()))
print('3M count = {}'.format(df['3M_flag'].sum()))
print('6M count = {}'.format(df['6M_flag'].sum()))

1M count = 6938
3M count = 20554
6M count = 41020

#### Feature creation

In [30]:
len(df['business_id'].unique())

637

In [31]:
df.columns

Index(['id', 'transaction_id', 'date', 'amount', 'plaid_account_id', 'pending',
       'description', 'created_at', 'merchant_name', 'retrieved_at', 'type',
       'plaid_item_id', 'external_account_id', 'updated_at',
       'iso_currency_code', 'categories', 'business_id', '_fivetran_deleted',
       '_fivetran_synced', 'owned_by', 'lending_business_id', 'decision_date',
       'drawn_flag', 'everDPD_15', 'fico_score', 'target', 'datediff',
       'pos_flag', 'loans_flag', 'payroll_flag', 'ecom_flag',
       'third_party_flag', 'service_flag', 'shops_flag', 'ach_flag', '1M_flag',
       '3M_flag', '6M_flag'],
      dtype='object')

In [32]:
base_df = base.copy()

In [33]:
# loans flag
t = df.groupby('business_id',as_index=False)['loans_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('loans count = {}'.format(base_df['loans_flag'].sum()))

# payroll flag
t = df.groupby('business_id',as_index=False)['payroll_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('payrolls count = {}'.format(base_df['payroll_flag'].sum()))

# POS flag
t = df.groupby('business_id',as_index=False)['pos_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('POS count = {}'.format(base_df['pos_flag'].sum()))

# ecom flag
t = df.groupby('business_id',as_index=False)['ecom_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('ecom count = {}'.format(base_df['ecom_flag'].sum()))

# Third party flag
t = df.groupby('business_id',as_index=False)['third_party_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('Third party count = {}'.format(base_df['third_party_flag'].sum()))

# Service flag
t = df.groupby('business_id',as_index=False)['service_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('Service count = {}'.format(base_df['service_flag'].sum()))

# Shops flag
t = df.groupby('business_id',as_index=False)['shops_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('Shops count = {}'.format(base_df['shops_flag'].sum()))

# ACH flag
t = df.groupby('business_id',as_index=False)['ach_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('ACH count = {}'.format(base_df['ach_flag'].sum()))

loans count = 129.0
payrolls count = 340.0
POS count = 410.0
ecom count = 211.0
Third party count = 438.0
Service count = 349.0
Shops count = 346.0
ACH count = 203.0

In [34]:
# credit count 1M / 3M / 6M
t1 = df[df['1M_flag']==1].groupby('business_id',as_index=False)['transaction_id'].count().rename(columns = {'transaction_id':'total_credit_count_1M'})
t3 = df[df['3M_flag']==1].groupby('business_id',as_index=False)['transaction_id'].count().rename(columns = {'transaction_id':'total_credit_count_3M'})
t6 = df[df['6M_flag']==1].groupby('business_id',as_index=False)['transaction_id'].count().rename(columns = {'transaction_id':'total_credit_count_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')

# base_df[['total_credit_count_1M','total_credit_count_3M','total_credit_count_6M']] = base_df[['total_credit_count_1M','total_credit_count_3M','total_credit_count_6M']].fillna(0)

In [35]:
# credit amt 1M / 3M / 6M
t1 = df[df['1M_flag']==1].groupby('business_id',as_index=False)['amount'].sum().rename(columns = {'amount':'total_credit_amt_1M'})
t3 = df[df['3M_flag']==1].groupby('business_id',as_index=False)['amount'].sum().rename(columns = {'amount':'total_credit_amt_3M'})
t6 = df[df['6M_flag']==1].groupby('business_id',as_index=False)['amount'].sum().rename(columns = {'amount':'total_credit_amt_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')

# base_df[['total_credit_amt_1M','total_credit_amt_3M','total_credit_amt_6M']] = base_df[['total_credit_amt_1M','total_credit_amt_3M','total_credit_amt_6M']].fillna(0)

In [36]:
# credit size 1M / 3M / 6M
base_df['credit_size_1M'] = base_df['total_credit_amt_1M']/(1 + base_df['total_credit_count_1M'])
base_df['credit_size_3M'] = base_df['total_credit_amt_3M']/(1 + base_df['total_credit_count_3M'])
base_df['credit_size_6M'] = base_df['total_credit_amt_6M']/(1 + base_df['total_credit_count_6M'])

In [37]:
# stddev credits

t1 = df[df['1M_flag']==1].groupby('business_id',as_index=False)['amount'].agg([np.std,'median']).rename(columns = {'std':'stddev_credit_amt_1M','median':'median_credit_amt_1M'})
t3 = df[df['3M_flag']==1].groupby('business_id',as_index=False)['amount'].agg([np.std,'median']).rename(columns = {'std':'stddev_credit_amt_3M','median':'median_credit_amt_3M'})
t6 = df.groupby('business_id',as_index=False)['amount'].agg([np.std,'median']).rename(columns = {'std':'stddev_credit_amt_6M','median':'median_credit_amt_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')

#ratios
base_df['ratio_stddev_credit_amt_1M_6M'] = base_df['stddev_credit_amt_1M']/(1 + base_df['stddev_credit_amt_6M'])
base_df['ratio_stddev_credit_amt_1M_3M'] = base_df['stddev_credit_amt_1M']/(1 + base_df['stddev_credit_amt_3M'])

base_df['ratio_median_credit_amt_1M_6M'] = base_df['median_credit_amt_1M']/(1 + base_df['median_credit_amt_6M'])
base_df['ratio_median_credit_amt_1M_3M'] = base_df['median_credit_amt_1M']/(1 + base_df['median_credit_amt_3M'])

In [38]:
# categories - sum, count, medin, stddev - 1M / 3M / 6M

t1 = df[df['loans_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'loans_amt_6M','count':'loans_count_6M','median':'median_loans_amt_6M', 'std': 'stddev_loans_amt_6M'})
t2 = df[df['payroll_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'payroll_amt_6M','count':'payroll_count_6M','median':'median_payroll_amt_6M', 'std': 'stddev_payroll_amt_6M'})
t3 = df[df['pos_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'pos_amt_6M','count':'pos_count_6M','median':'median_pos_amt_6M', 'std': 'stddev_pos_amt_6M'})
t4 = df[df['ecom_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ecom_amt_6M','count':'ecom_count_6M','median':'median_ecom_amt_6M', 'std': 'stddev_ecom_amt_6M'})
t5 = df[df['third_party_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'third_party_amt_6M','count':'third_party_count_6M','median':'median_third_party_amt_6M', 'std': 'stddev_third_party_amt_6M'})
t6 = df[df['service_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'service_amt_6M','count':'service_count_6M','median':'median_service_amt_6M', 'std': 'stddev_service_amt_6M'})
t7 = df[df['shops_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'shops_amt_6M','count':'shops_count_6M','median':'median_shops_amt_6M', 'std': 'stddev_shops_amt_6M'})
t8 = df[df['ach_flag']==1].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ach_amt_6M','count':'ach_count_6M','median':'median_ach_amt_6M', 'std': 'stddev_ach_amt_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')
base_df = base_df.merge(t5,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')
base_df = base_df.merge(t7,how='left',on='business_id')
base_df = base_df.merge(t8,how='left',on='business_id')

t1 = df[(df['loans_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'loans_amt_3M','count':'loans_count_3M','median':'median_loans_amt_3M', 'std': 'stddev_loans_amt_3M'})
t2 = df[(df['payroll_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'payroll_amt_3M','count':'payroll_count_3M','median':'median_payroll_amt_3M', 'std': 'stddev_payroll_amt_3M'})
t3 = df[(df['pos_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'pos_amt_3M','count':'pos_count_3M','median':'median_pos_amt_3M', 'std': 'stddev_pos_amt_3M'})
t4 = df[(df['ecom_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ecom_amt_3M','count':'ecom_count_3M','median':'median_ecom_amt_3M', 'std': 'stddev_ecom_amt_3M'})
t5 = df[(df['third_party_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'third_party_amt_3M','count':'third_party_count_3M','median':'median_third_party_amt_3M', 'std': 'stddev_third_party_amt_3M'})
t6 = df[(df['service_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'service_amt_3M','count':'service_count_3M','median':'median_service_amt_3M', 'std': 'stddev_service_amt_3M'})
t7 = df[(df['shops_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'shops_amt_3M','count':'shops_count_3M','median':'median_shops_amt_3M', 'std': 'stddev_shops_amt_3M'})
t8 = df[(df['ach_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ach_amt_3M','count':'ach_count_3M','median':'median_ach_amt_3M', 'std': 'stddev_ach_amt_3M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')
base_df = base_df.merge(t5,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')
base_df = base_df.merge(t7,how='left',on='business_id')
base_df = base_df.merge(t8,how='left',on='business_id')

t1 = df[(df['loans_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'loans_amt_1M','count':'loans_count_1M','median':'median_loans_amt_1M', 'std': 'stddev_loans_amt_1M'})
t2 = df[(df['payroll_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'payroll_amt_1M','count':'payroll_count_1M','median':'median_payroll_amt_1M', 'std': 'stddev_payroll_amt_1M'})
t3 = df[(df['pos_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'pos_amt_1M','count':'pos_count_1M','median':'median_pos_amt_1M', 'std': 'stddev_pos_amt_1M'})
t4 = df[(df['ecom_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ecom_amt_1M','count':'ecom_count_1M','median':'median_ecom_amt_1M', 'std': 'stddev_ecom_amt_1M'})
t5 = df[(df['third_party_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'third_party_amt_1M','count':'third_party_count_1M','median':'median_third_party_amt_1M', 'std': 'stddev_third_party_amt_1M'})
t6 = df[(df['service_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'service_amt_1M','count':'service_count_1M','median':'median_service_amt_1M', 'std': 'stddev_service_amt_1M'})
t7 = df[(df['shops_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'shops_amt_1M','count':'shops_count_1M','median':'median_shops_amt_1M', 'std': 'stddev_shops_amt_1M'})
t8 = df[(df['ach_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ach_amt_1M','count':'ach_count_1M','median':'median_ach_amt_1M', 'std': 'stddev_ach_amt_1M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')
base_df = base_df.merge(t5,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')
base_df = base_df.merge(t7,how='left',on='business_id')
base_df = base_df.merge(t8,how='left',on='business_id')

In [39]:
# size 1M / 3M / 6M
base_df['loans_size_1M'] = base_df['loans_amt_1M']/(1 + base_df['loans_count_1M'])
base_df['payroll_size_1M'] = base_df['payroll_amt_1M']/(1 + base_df['payroll_count_1M'])
base_df['pos_size_1M'] = base_df['pos_amt_1M']/(1 + base_df['pos_count_1M'])
base_df['ecom_size_1M'] = base_df['ecom_amt_1M']/(1 + base_df['ecom_count_1M'])
base_df['third_party_size_1M'] = base_df['third_party_amt_1M']/(1 + base_df['third_party_amt_1M'])
base_df['service_size_1M'] = base_df['service_amt_1M']/(1 + base_df['service_count_1M'])
base_df['shops_size_1M'] = base_df['shops_amt_1M']/(1 + base_df['shops_count_1M'])
base_df['ach_size_1M'] = base_df['ach_amt_1M']/(1 + base_df['ach_count_1M'])

base_df['loans_size_3M'] = base_df['loans_amt_3M']/(1 + base_df['loans_count_3M'])
base_df['payroll_size_3M'] = base_df['payroll_amt_3M']/(1 + base_df['payroll_count_3M'])
base_df['pos_size_3M'] = base_df['pos_amt_3M']/(1 + base_df['pos_count_3M'])
base_df['ecom_size_3M'] = base_df['ecom_amt_3M']/(1 + base_df['ecom_count_3M'])
base_df['third_party_size_3M'] = base_df['third_party_amt_3M']/(1 + base_df['third_party_amt_3M'])
base_df['service_size_3M'] = base_df['service_amt_3M']/(1 + base_df['service_count_3M'])
base_df['shops_size_3M'] = base_df['shops_amt_3M']/(1 + base_df['shops_count_3M'])
base_df['ach_size_3M'] = base_df['ach_amt_3M']/(1 + base_df['ach_count_3M'])

base_df['loans_size_6M'] = base_df['loans_amt_6M']/(1 + base_df['loans_count_6M'])
base_df['payroll_size_6M'] = base_df['payroll_amt_6M']/(1 + base_df['payroll_count_6M'])
base_df['pos_size_6M'] = base_df['pos_amt_6M']/(1 + base_df['pos_count_6M'])
base_df['ecom_size_6M'] = base_df['ecom_amt_6M']/(1 + base_df['ecom_count_6M'])
base_df['third_party_size_6M'] = base_df['third_party_amt_6M']/(1 + base_df['third_party_amt_6M'])
base_df['service_size_6M'] = base_df['service_amt_6M']/(1 + base_df['service_count_6M'])
base_df['shops_size_6M'] = base_df['shops_amt_6M']/(1 + base_df['shops_count_6M'])
base_df['ach_size_6M'] = base_df['ach_amt_6M']/(1 + base_df['ach_count_6M'])

In [40]:
# ratios 1M/6M & 1M/3M & 3M/6M

base_df['ratio_loan_size_1M_6M'] = base_df['loans_size_1M']/(1 + base_df['loans_size_6M'])
base_df['ratio_payroll_size_1M_6M'] = base_df['payroll_size_1M']/(1 + base_df['payroll_size_6M'])
base_df['ratio_pos_size_1M_6M'] = base_df['pos_size_1M']/(1 + base_df['pos_size_6M'])
base_df['ratio_ecom_size_1M_6M'] = base_df['ecom_size_1M']/(1 + base_df['ecom_size_6M'])
base_df['ratio_third_party_size_1M_6M'] = base_df['third_party_size_1M']/(1 + base_df['third_party_size_6M'])
base_df['ratio_service_size_1M_6M'] = base_df['service_size_1M']/(1 + base_df['service_size_6M'])
base_df['ratio_shops_size_1M_6M'] = base_df['shops_size_1M']/(1 + base_df['shops_size_6M'])
base_df['ratio_ach_size_1M_6M'] = base_df['ach_size_1M']/(1 + base_df['ach_size_6M'])

base_df['ratio_loan_size_1M_3M'] = base_df['loans_size_1M']/(1 + base_df['loans_size_3M'])
base_df['ratio_payroll_size_1M_3M'] = base_df['payroll_size_1M']/(1 + base_df['payroll_size_3M'])
base_df['ratio_pos_size_1M_3M'] = base_df['pos_size_1M']/(1 + base_df['pos_size_3M'])
base_df['ratio_ecom_size_1M_3M'] = base_df['ecom_size_1M']/(1 + base_df['ecom_size_3M'])
base_df['ratio_third_party_size_1M_3M'] = base_df['third_party_size_1M']/(1 + base_df['third_party_size_3M'])
base_df['ratio_service_size__1M_3M'] = base_df['service_size_1M']/(1 + base_df['service_size_3M'])
base_df['ratio_shops_size_1M_3M'] = base_df['shops_size_1M']/(1 + base_df['shops_size_3M'])
base_df['ratio_ach_size_1M_3M'] = base_df['ach_size_1M']/(1 + base_df['ach_size_3M'])

base_df['ratio_median_loan_amt_3M_6M'] = base_df['median_loans_amt_3M']/(1 + base_df['median_loans_amt_6M'])
base_df['ratio_median_payroll_amt_3M_6M'] = base_df['median_payroll_amt_3M']/(1 + base_df['median_payroll_amt_6M'])
base_df['ratio_median_pos_amt_3M_6M'] = base_df['median_pos_amt_3M']/(1 + base_df['median_pos_amt_6M'])
base_df['ratio_median_ecom_amt_3M_6M'] = base_df['median_ecom_amt_3M']/(1 + base_df['median_ecom_amt_6M'])
base_df['ratio_median_third_party_amt_3M_6M'] = base_df['median_third_party_amt_3M']/(1 + base_df['median_third_party_amt_6M'])
base_df['ratio_median_service_amt_3M_6M'] = base_df['median_service_amt_3M']/(1 + base_df['median_service_amt_6M'])
base_df['ratio_median_shops_amt_3M_6M'] = base_df['median_shops_amt_3M']/(1 + base_df['median_shops_amt_6M'])
base_df['ratio_median_ach_amt_3M_6M'] = base_df['median_ach_amt_3M']/(1 + base_df['median_ach_amt_6M'])


base_df['ratio_stddev_loan_amt_3M_6M'] = base_df['stddev_loans_amt_3M']/(1 + base_df['stddev_loans_amt_6M'])
base_df['ratio_stddev_payroll_amt_3M_6M'] = base_df['stddev_payroll_amt_3M']/(1 + base_df['stddev_payroll_amt_6M'])
base_df['ratio_stddev_pos_amt_3M_6M'] = base_df['stddev_pos_amt_3M']/(1 + base_df['stddev_pos_amt_6M'])
base_df['ratio_stddev_ecom_amt_3M_6M'] = base_df['stddev_ecom_amt_3M']/(1 + base_df['stddev_ecom_amt_6M'])
base_df['ratio_stddev_third_party_amt_3M_6M'] = base_df['stddev_third_party_amt_3M']/(1 + base_df['stddev_third_party_amt_6M'])
base_df['ratio_stddev_service_amt_3M_6M'] = base_df['stddev_service_amt_3M']/(1 + base_df['stddev_service_amt_6M'])
base_df['ratio_stddev_shops_amt_3M_6M'] = base_df['stddev_shops_amt_3M']/(1 + base_df['stddev_shops_amt_6M'])
base_df['ratio_stddev_ach_amt_3M_6M'] = base_df['stddev_ach_amt_3M']/(1 + base_df['stddev_ach_amt_6M'])

In [41]:
# ratio cat/credit

base_df['ratio_loans_size_credit_size_1M'] = base_df['loans_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_payroll_size_credit_size_1M'] = base_df['payroll_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_pos_size_credit_size_1M'] = base_df['pos_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_ecom_size_credit_size_1M'] = base_df['ecom_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_third_party_size_credit_size_1M'] = base_df['third_party_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_service_size_credit_size_1M'] = base_df['service_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_shops_size_credit_size_1M'] = base_df['shops_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_ach_size_credit_size_1M'] = base_df['ach_size_1M']/(1 + base_df['credit_size_1M'])

base_df['ratio_loans_size_credit_size_3M'] = base_df['loans_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_payroll_size_credit_size_3M'] = base_df['payroll_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_pos_size_credit_size_3M'] = base_df['pos_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_ecom_size_credit_size_3M'] = base_df['ecom_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_third_party_size_credit_size_3M'] = base_df['third_party_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_service_size_credit_size_3M'] = base_df['service_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_shops_size_credit_size_3M'] = base_df['shops_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_ach_size_credit_size_3M'] = base_df['ach_size_3M']/(1 + base_df['credit_size_3M'])

base_df['ratio_loans_size_credit_size_6M'] = base_df['loans_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_payroll_size_credit_size_6M'] = base_df['payroll_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_pos_size_credit_size_6M'] = base_df['pos_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_ecom_size_credit_size_6M'] = base_df['ecom_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_third_party_size_credit_size_6M'] = base_df['third_party_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_service_size_credit_size_6M'] = base_df['service_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_shops_size_credit_size_6M'] = base_df['shops_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_ach_size_credit_size_6M'] = base_df['ach_size_6M']/(1 + base_df['credit_size_6M'])

In [42]:
# amount features

In [43]:
t1 = df[(df['amount']<100) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_lessthan_100_1M','count':'count_credits_lessthan_100_1M'})
t2 = df[(df['amount']>=100) & (df['amount']<500) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_100_to_500_1M','count':'count_credits_100_to_500_1M'})
t3 = df[(df['amount']>=500) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_500_1M','count':'count_credits_grt_500_1M'})
t4 = df[(df['amount']>=1500) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_1500_1M','count':'count_credits_grt_1500_1M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')

t1 = df[(df['amount']<100) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_lessthan_100_3M','count':'count_credits_lessthan_100_3M'})
t2 = df[(df['amount']>=100) & (df['amount']<500) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_100_to_500_3M','count':'count_credits_100_to_500_3M'})
t3 = df[(df['amount']>=500) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_500_3M','count':'count_credits_grt_500_3M'})
t4 = df[(df['amount']>=1500) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_1500_3M','count':'count_credits_grt_1500_3M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')

t1 = df[(df['amount']<100) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_lessthan_100_6M','count':'count_credits_lessthan_100_6M'})
t2 = df[(df['amount']>=100) & (df['amount']<500) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_100_to_500_6M','count':'count_credits_100_to_500_6M'})
t3 = df[(df['amount']>=500) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_500_6M','count':'count_credits_grt_500_6M'})
t4 = df[(df['amount']>=1500) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_1500_6M','count':'count_credits_grt_1500_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')

In [44]:
# amount ratios

base_df['ratio_credits_lessthan_100_1M_3M'] = base_df['count_credits_lessthan_100_1M']/(1 + base_df['count_credits_lessthan_100_3M'])
base_df['ratio_credits_lessthan_100_1M_6M'] = base_df['count_credits_lessthan_100_1M']/(1 + base_df['count_credits_lessthan_100_6M'])

base_df['ratio_credits_grt_500_1M_3M'] = base_df['count_credits_grt_500_1M']/(1 + base_df['count_credits_grt_500_3M'])
base_df['ratio_credits_grt_500_1M_6M'] = base_df['count_credits_grt_500_1M']/(1 + base_df['count_credits_grt_500_6M'])

base_df['ratio_credits_grt_1500_1M_3M'] = base_df['count_credits_grt_1500_1M']/(1 + base_df['count_credits_grt_1500_3M'])
base_df['ratio_credits_grt_1500_1M_6M'] = base_df['count_credits_grt_1500_1M']/(1 + base_df['count_credits_grt_1500_6M'])

In [45]:
# amount ratios 2 
base_df['ratio_amt_credits_less_100_credits_grt_500_6M'] = base_df['sum_credits_lessthan_100_6M']/(1 + base_df['sum_credits_grt_500_6M'])
base_df['ratio_amt_credits_less_100_credits_grt_500_3M'] = base_df['sum_credits_lessthan_100_3M']/(1 + base_df['sum_credits_grt_500_3M'])

base_df['ratio_amt_credits_less_100_credits_grt_1500_6M'] = base_df['sum_credits_lessthan_100_6M']/(1 + base_df['sum_credits_grt_1500_6M'])
base_df['ratio_amt_credits_less_100_credits_grt_1500_3M'] = base_df['sum_credits_lessthan_100_3M']/(1 + base_df['sum_credits_grt_1500_3M'])

base_df['ratio_amt_credits_grt_500_credits_grt_1500_6M'] = base_df['sum_credits_grt_500_6M']/(1 + base_df['sum_credits_grt_1500_6M'])
base_df['ratio_amt_credits_grt_500_credits_grt_1500_3M'] = base_df['sum_credits_grt_500_3M']/(1 + base_df['sum_credits_grt_1500_3M'])


base_df['ratio_cnt_credits_less_100_credits_grt_500_6M'] = base_df['count_credits_lessthan_100_6M']/(1 + base_df['count_credits_grt_500_6M'])
base_df['ratio_cnt_credits_less_100_credits_grt_500_3M'] = base_df['count_credits_lessthan_100_3M']/(1 + base_df['count_credits_grt_500_3M'])

base_df['ratio_cnt_credits_less_100_credits_grt_1500_6M'] = base_df['count_credits_lessthan_100_6M']/(1 + base_df['count_credits_grt_1500_6M'])
base_df['ratio_cnt_credits_less_100_credits_grt_1500_3M'] = base_df['count_credits_lessthan_100_3M']/(1 + base_df['count_credits_grt_1500_3M'])

base_df['ratio_cnt_credits_grt_500_credits_grt_1500_6M'] = base_df['count_credits_grt_500_6M']/(1 + base_df['count_credits_grt_1500_6M'])
base_df['ratio_cnt_credits_grt_500_credits_grt_1500_3M'] = base_df['count_credits_grt_500_3M']/(1 + base_df['count_credits_grt_1500_3M'])

In [46]:
# txns in each month flag
df['txn_l1m_flag'] = 0
df['txn_2nd_mth_flag'] = 0
df['txn_3rd_mth_flag'] = 0
df['txn_4th_mth_flag'] = 0
df['txn_5th_mth_flag'] = 0
df['txn_6th_mth_flag'] = 0

df.loc[(df['datediff']<=30),'txn_l1m_flag'] = 1
df.loc[(df['datediff']>30) & (df['datediff']<=60),'txn_2nd_mth_flag'] = 1
df.loc[(df['datediff']>60) & (df['datediff']<=90),'txn_3rd_mth_flag'] = 1
df.loc[(df['datediff']>90) & (df['datediff']<=120),'txn_4th_mth_flag'] = 1
df.loc[(df['datediff']>120) & (df['datediff']<=150),'txn_5th_mth_flag'] = 1
df.loc[(df['datediff']>150) & (df['datediff']<=180),'txn_6th_mth_flag'] = 1

t1 = df.groupby('business_id',as_index=False)[['txn_l1m_flag','txn_2nd_mth_flag','txn_3rd_mth_flag','txn_4th_mth_flag','txn_5th_mth_flag','txn_6th_mth_flag']].max()
t1['txn_each_mth_flag'] = 0
t1.loc[(t1['txn_l1m_flag']==1) & (t1['txn_2nd_mth_flag']==1) & (t1['txn_3rd_mth_flag']==1) & (t1['txn_4th_mth_flag']==1) & (t1['txn_5th_mth_flag']==1) & (t1['txn_6th_mth_flag']==1),'txn_each_mth_flag'] = 1

base_df = base_df.merge(t1[['business_id','txn_each_mth_flag']],how='left',on = 'business_id')

t1 = df[df['amount']>100].groupby('business_id',as_index=False)[['txn_l1m_flag','txn_2nd_mth_flag','txn_3rd_mth_flag','txn_4th_mth_flag','txn_5th_mth_flag','txn_6th_mth_flag']].max()
t1['txn_grt_100_each_mth_flag'] = 0
t1.loc[(t1['txn_l1m_flag']==1) & (t1['txn_2nd_mth_flag']==1) & (t1['txn_3rd_mth_flag']==1) & (t1['txn_4th_mth_flag']==1) & (t1['txn_5th_mth_flag']==1) & (t1['txn_6th_mth_flag']==1),'txn_grt_100_each_mth_flag'] = 1

base_df = base_df.merge(t1[['business_id','txn_grt_100_each_mth_flag']],how='left',on = 'business_id')

In [47]:
base_df.columns
# len(base_df.columns)

Index(['business_id', 'lending_business_id', 'decision_date', 'drawn_flag',
       'everDPD_15', 'fico_score', 'target', 'loans_flag', 'payroll_flag',
       'pos_flag',
       ...
       'ratio_amt_credits_grt_500_credits_grt_1500_6M',
       'ratio_amt_credits_grt_500_credits_grt_1500_3M',
       'ratio_cnt_credits_less_100_credits_grt_500_6M',
       'ratio_cnt_credits_less_100_credits_grt_500_3M',
       'ratio_cnt_credits_less_100_credits_grt_1500_6M',
       'ratio_cnt_credits_less_100_credits_grt_1500_3M',
       'ratio_cnt_credits_grt_500_credits_grt_1500_6M',
       'ratio_cnt_credits_grt_500_credits_grt_1500_3M', 'txn_each_mth_flag',
       'txn_grt_100_each_mth_flag'],
      dtype='object', length=254)

In [49]:
final_df = base_df.copy()

In [50]:
t = pd.DataFrame(df['business_id'].unique(),columns=['business_id'])
t['txn_flag'] = 1
final_df = final_df.merge(t,how='left',on='business_id')
final_df['txn_flag'] = final_df['txn_flag'].fillna(0)
final_df.shape

(646, 255)

In [51]:
final_df['txn_flag'].value_counts()

1.0    637
0.0      9
Name: txn_flag, dtype: int64

In [52]:
# final_df.to_pickle('/Users/shashankgupta/Documents/code/git_project/plaid_credit/Data/final_dataset_2.pkl')