In [1]:
import os 
cwd = os.getcwd()

os.chdir('../')
cwd = os.getcwd()
print(cwd)

os.chdir('./code/')
cwd = os.getcwd()
print(cwd)

import pandas as pd 
import numpy as np 
import seaborn as sns

import pickle 
import logging


from config.config import SQLQuery
querySno = SQLQuery('snowflake')

/Users/shashankgupta/Documents/code/git_project/plaid_credit
/Users/shashankgupta/Documents/code/git_project/plaid_credit/Code

In [2]:
querySno = SQLQuery('snowflake')
test_df = querySno(r""" 
select * from prod_db.adhoc.lending_temp_data_check_prod
where type = 'credit'
""")
test_df.shape

(753, 18)

In [3]:
test_df.head()

,id,transaction_id,application_id,external_account_id,plaid_account_id,plaid_item_id,description,categories,amount,type,date,retrieved_at,pending,iso_currency_code,meta,merchant_name,created_at,updated_at
0,1da1bbf8-d015-43ef-824a-a2a612eef033,8oVYXpyNAkt3vLL4rNyKCdjXqVg8g1tvdPoxm,3c4f32e9-c92a-4fd5-9303-9365bf5f392e,17c0481f-24ab-4d7f-9d71-35c0630c7407,dv5k6dBVP9cpajjDzP7wiNNJrxbYEgI8J9xEO,d7a23bf6-94f4-4223-9c8b-3b4f53644807,Amazon,Shops,-11.17,credit,2023-04-10 00:00:00,2023-04-15 19:37:31.613 +0530,false,USD,"{""date"": ""2023-04-10"", ""name"": ""Amazon"", ""amou...",None,2023-06-30 11:13:25.315 +0530,2023-06-30 11:13:25.315 +0530
1,060f7891-d905-4fc5-934c-06c6d8113dee,rD1Njv6V84iAVOOnYoadI6xmXZA0AJUwvzoVB,3c4f32e9-c92a-4fd5-9303-9365bf5f392e,17c0481f-24ab-4d7f-9d71-35c0630c7407,dv5k6dBVP9cpajjDzP7wiNNJrxbYEgI8J9xEO,d7a23bf6-94f4-4223-9c8b-3b4f53644807,Amazon,Shops,-9.62,credit,2023-04-12 00:00:00,2023-04-15 19:37:31.613 +0530,false,USD,"{""date"": ""2023-04-12"", ""name"": ""Amazon"", ""amou...",None,2023-06-30 11:13:25.610 +0530,2023-06-30 11:13:25.610 +0530
2,6215da27-81d6-4726-b203-9fbe317bf972,4OVYRp0Q3Bs1yAAvp73mUxw6LED3DAUnXvaRR,3c4f32e9-c92a-4fd5-9303-9365bf5f392e,17c0481f-24ab-4d7f-9d71-35c0630c7407,dv5k6dBVP9cpajjDzP7wiNNJrxbYEgI8J9xEO,d7a23bf6-94f4-4223-9c8b-3b4f53644807,Amazon,Shops,-11.76,credit,2023-04-11 00:00:00,2023-04-15 19:37:31.613 +0530,false,USD,"{""date"": ""2023-04-11"", ""name"": ""Amazon"", ""amou...",None,2023-06-30 11:13:25.879 +0530,2023-06-30 11:13:25.879 +0530
3,a14e9fd5-b4e9-47a9-8edd-9c214b6607ba,8jeRnMEo8Bs58ZKjYo03u7X1m5xdK3iJ4nnzr,3369b5d7-92a0-4d8a-813b-11f34abd34d6,86fc6028-d43b-44af-b73a-066d4020ec4b,X4pBovZ6xQSa7w46MbYbUYMkAwzozYf68QjX8,ab9f8cb3-ee5c-40eb-badc-06c41cbbd2bb,MOBILE DEPOSIT,"Transfer,Deposit",-105.00,credit,2023-01-23 00:00:00,2023-01-29 14:37:34.187 +0530,false,USD,"{""date"": ""2023-01-23"", ""name"": ""MOBILE DEPOSIT...",None,2023-06-30 10:43:09.228 +0530,2023-06-30 10:43:09.228 +0530
4,12bc9161-c567-4104-b1be-5800be000b75,ZxOeQjoD8pu0M4YDLBzmSNw7MLrb9pHVaddEx,3369b5d7-92a0-4d8a-813b-11f34abd34d6,86fc6028-d43b-44af-b73a-066d4020ec4b,X4pBovZ6xQSa7w46MbYbUYMkAwzozYf68QjX8,ab9f8cb3-ee5c-40eb-badc-06c41cbbd2bb,DEPOSIT,"Transfer,Deposit",-1240.00,credit,2023-01-20 00:00:00,2023-01-29 14:37:34.187 +0530,false,USD,"{""date"": ""2023-01-20"", ""name"": ""DEPOSIT"", ""amo...",None,2023-06-30 10:43:09.527 +0530,2023-06-30 10:43:09.527 +0530

In [4]:
test_df.columns

Index(['id', 'transaction_id', 'application_id', 'external_account_id',
       'plaid_account_id', 'plaid_item_id', 'description', 'categories',
       'amount', 'type', 'date', 'retrieved_at', 'pending',
       'iso_currency_code', 'meta', 'merchant_name', 'created_at',
       'updated_at'],
      dtype='object')

In [5]:
test_df = test_df.rename(columns = {'application_id' : 'business_id'})

In [6]:
df = test_df.copy()

In [7]:
df.drop('meta',axis=1,inplace=True)

In [8]:
df['amount'] = df['amount'].astype('float')
df['amount'] = -1*df['amount']

In [9]:
df.shape

(753, 17)

In [10]:
len(df['business_id'].unique())

5

In [11]:
df.columns

Index(['id', 'transaction_id', 'business_id', 'external_account_id',
       'plaid_account_id', 'plaid_item_id', 'description', 'categories',
       'amount', 'type', 'date', 'retrieved_at', 'pending',
       'iso_currency_code', 'merchant_name', 'created_at', 'updated_at'],
      dtype='object')

In [12]:
import datetime as dt     
df['today'] = dt.date.today
df['today'] = '2023-07-04'
df['today'] = pd.to_datetime(df['today'])
df['date'] = df['date'].apply(pd.Timestamp)  # will handle parsing
df['datediff'] = (df['today'] - df['date']).dt.days

In [13]:
df_copy = df.copy()

#### Keywords

In [14]:
finance_merchants = ['Affirm','Upstart','Dave','Pennymac','Navient','MoneyLion','Affirm Inc','Wf Home Mtg','Rocket Mortgage','OneMain Financial','Kikoff Lending','Lightstream','Avant','SoFi','Firstmark','Mohela','Dovenmuehle Mortgage','Dept Education','Progressive Leasing','Great Lakes','Mr. Cooper','Dave Inc','Nationstar Dba','GM Financial','Uplift','Chrysler Capital','Flagstar',	'Loan',	'Continental Finance',	'Freedom Mortgage',	'Fundbox Inc.',	'Empower',	'Snap Finance',	'Sezzle',	'Dovenmuehle Mtg',	'Navient Navi',	'Navient Pmt Spe',	'Fedloanservicing Stdnt Loan',	'Earnin',	'Hmfusa',	'Sba Loan',	'American Education Services',	'Unitedwholesale',	'Nelnet Loan Serv',	'Progressivelease',	'Upstart Network',	'Netcredit',	'Con Ed Of Ny',	'Avant LLC',	'Install Loan',	'Quicken Loans',	'Educational Comp',	'Bmwfinancial Svs',	'Of America',	'To Loan',	'Possible Finance',	'Gm Financial',	'Sofi Securities',	'Ford Credit',	'Navient-fdr',	'Self Lender',	'Albert',	'Mariner Finance',	'Aes Stdnt Loan',	'Auto Loan',	'Freedom Mtg',	'Onemain',	'Td Auto',	'Marcus',	'Cont Finance',	'Service Finance',	'Bridgecrest',	'Credit Acceptance',	'Mortgage Serv',	'Quicken Loans Mtg',	'Vw Credit Tel.',	'Qoins',	'Flex Finance',	'Lending Club',	'Advance America',	'Amerihome Mtg',	'Home Mtg',	'Guild Mortgage',	'Onemain Loan',	'Lakeview Ln Srv',	'Iphone Citiz',	'Moneylion',	'Navi Ed Serv Web',	'Loancare Serv',	'Affirm Payment',	'Self Lender Scc',	'Small Business Administration',	'Fedloanservicing',	'UAS',	'Caliber Home Loa',	'Nelnet Loan Srv',	'United Wholesale Mortgage',	'Speedy Cash',	'Edward Jones',	'Charles Schwab','DreamSpring','Bluevine','INTUIT']
finance_keywords = ['loan', 'finance','disburs','cash advance','advance']
loan_sba = ['shopify capital', 'knight', 'expansion', 'payin', 'sba', 'ondeck', 'kabbage', 'bluevine', 'headway', 'prosper', 'onramp','direct capital edi','lightstream', 'onemain', 'intuit financ', 'ninja', 'good funding','SoFi']

payroll_keywords = ['quickbooks','ADP','Gusto','Paychex flex','Onpay','Paycor','payroll']

uber_keywords = ['uber','lyft','car service','ride share']

refunds_keywords = ['reverse', 'reversal', 'refund', 'return']

pos_keywords1 = ['POS']
pos_keywords2 = ['card payment','point of sale']
pos_cat = ['ATM']

rent_keywords = ['rent', 'airbnb']

ecom_keywords = ['shopify', 'ebay','amazon', 'sears', 'target','bigcommerce','shift4shop','opencart','prestashop','magento','wix','woocommerce','godaddy','ecwid','bigcartel','nopcommerce','walmart','costco','home depot','best buy']

third_party = ['venmo','zelle','cash app','cashapp','afterpay','paypal','square','digit','acorns','betterment']
third_party_cat = ['third party']

biz_rev_desc = ['stripe','USAA','capital one','airbnb','rent']
service_cat = ['Service','Healthcare','Taxi','education','recreation','gaming','freight','stock broker','photography','real estate','lodging','subscription']
shops_cat = ['Shops','gas station','travel','food','digital purchase','restaurants','community','groceries','beauty','fitness','gyms','clothing','sport','florist']
bank_fees_cat = ['bank fees']

#categories == Service

#### keywords for transaction categories

In [15]:
# keywords for description column
finance_keywords = ['loan', 'finance','disburs','cash advance','advance']
loan_sba = ['shopify capital', 'knight', 'expansion', 'payin', 'sba', 'ondeck', 'kabbage', 'bluevine', 'headway', 'prosper', 'onramp','direct capital edi','lightstream', 'onemain', 'intuit financ', 'ninja', 'good funding','SoFi','rentsidual']

payroll_keywords = ['quickbooks','ADP','Gusto','Paychex flex','Onpay','Paycor','payroll']

pos_keywords1 = ['POS']
pos_keywords2 = ['card payment','point of sale','square']

ecom_keywords = ['shopify', 'ebay','amazon', 'sears', 'target','bigcommerce','shift4shop','opencart','prestashop','magento','wix','woocommerce','godaddy','ecwid','bigcartel','nopcommerce','walmart','costco','home depot','best buy']

third_party = ['venmo','zelle','cash app','cashapp','afterpay','paypal','square cash','digit','acorns','betterment','coinbase']

service = ['Service','Healthcare','Taxi','education','recreation','gaming','freight','stock broker','photography','real estate','lodging','subscription']
shops = ['Shops','gas station','travel','food','digital purchase','restaurants','community','groceries','beauty','fitness','gyms','clothing','sport','florist']

biz_rev = ['stripe','USAA','capital one','airbnb','rent','ACH deposit','cash','']
biz_rev_cat = ['wire']

In [16]:
# keywors for categories column
finance_merchants = ['Affirm','Upstart','Dave','Pennymac','Navient','MoneyLion','Affirm Inc','Wf Home Mtg','Rocket Mortgage','OneMain Financial','Kikoff Lending','Lightstream','Avant','SoFi','Firstmark','Mohela','Dovenmuehle Mortgage','Dept Education','Progressive Leasing','Great Lakes','Mr. Cooper','Dave Inc','Nationstar Dba','GM Financial','Uplift','Chrysler Capital','Flagstar',	'Loan',	'Continental Finance',	'Freedom Mortgage',	'Fundbox Inc.',	'Empower',	'Snap Finance',	'Sezzle',	'Dovenmuehle Mtg',	'Navient Navi',	'Navient Pmt Spe',	'Fedloanservicing Stdnt Loan',	'Earnin',	'Hmfusa',	'Sba Loan',	'American Education Services',	'Unitedwholesale',	'Nelnet Loan Serv',	'Progressivelease',	'Upstart Network',	'Netcredit',	'Con Ed Of Ny',	'Avant LLC',	'Install Loan',	'Quicken Loans',	'Educational Comp',	'Bmwfinancial Svs',	'Of America',	'To Loan',	'Possible Finance',	'Gm Financial',	'Sofi Securities',	'Ford Credit',	'Navient-fdr',	'Self Lender',	'Albert',	'Mariner Finance',	'Aes Stdnt Loan',	'Auto Loan',	'Freedom Mtg',	'Onemain',	'Td Auto',	'Marcus',	'Cont Finance',	'Service Finance',	'Bridgecrest',	'Credit Acceptance',	'Mortgage Serv',	'Quicken Loans Mtg',	'Vw Credit Tel.',	'Qoins',	'Flex Finance',	'Lending Club',	'Advance America',	'Amerihome Mtg',	'Home Mtg',	'Guild Mortgage',	'Onemain Loan',	'Lakeview Ln Srv',	'Iphone Citiz',	'Moneylion',	'Navi Ed Serv Web',	'Loancare Serv',	'Affirm Payment',	'Self Lender Scc',	'Small Business Administration',	'Fedloanservicing',	'UAS',	'Caliber Home Loa',	'Nelnet Loan Srv',	'United Wholesale Mortgage',	'Speedy Cash',	'Edward Jones',	'Charles Schwab','DreamSpring','Bluevine','INTUIT']

payroll = ['payroll']

pos_cat = ['ATM']

third_party_cat = ['third party']

service_cat = ['service']
shops_cat = ['shops']

bank = ['bank fees']

#### Transaction categorisation

In [17]:
pos_keywords1 = ['POS']
pos_keywords2 = ['card payment','point of sale','square']
pos_cat = ['ATM']

#POS 
df['pos_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(pos_keywords1))),'pos_flag'] = 1
df.loc[(df['description'].str.contains('|'.join(pos_keywords2),case=False)),'pos_flag'] = 1
df.loc[(df['categories'].str.contains('|'.join(pos_cat),case=False)),'pos_flag'] = 1

df['pos_flag'].value_counts()

0    698
1     55
Name: pos_flag, dtype: int64

In [18]:
## Loans
# merchant
finance_merchants = ['Affirm','Upstart','Dave','Pennymac','Navient','MoneyLion','Affirm Inc','Wf Home Mtg','Rocket Mortgage','OneMain Financial','Kikoff Lending','Lightstream','Avant','SoFi','Firstmark','Mohela','Dovenmuehle Mortgage','Dept Education','Progressive Leasing','Great Lakes','Mr. Cooper','Dave Inc','Nationstar Dba','GM Financial','Uplift','Chrysler Capital','Flagstar',	'Loan',	'Continental Finance',	'Freedom Mortgage',	'Fundbox Inc.',	'Empower',	'Snap Finance',	'Sezzle',	'Dovenmuehle Mtg',	'Navient Navi',	'Navient Pmt Spe',	'Fedloanservicing Stdnt Loan',	'Earnin',	'Hmfusa',	'Sba Loan',	'American Education Services',	'Unitedwholesale',	'Nelnet Loan Serv',	'Progressivelease',	'Upstart Network',	'Netcredit',	'Con Ed Of Ny',	'Avant LLC',	'Install Loan',	'Quicken Loans',	'Educational Comp',	'Bmwfinancial Svs',	'Of America',	'To Loan',	'Possible Finance',	'Gm Financial',	'Sofi Securities',	'Ford Credit',	'Navient-fdr',	'Self Lender',	'Albert',	'Mariner Finance',	'Aes Stdnt Loan',	'Auto Loan',	'Freedom Mtg',	'Onemain',	'Td Auto',	'Marcus',	'Cont Finance',	'Service Finance',	'Bridgecrest',	'Credit Acceptance',	'Mortgage Serv',	'Quicken Loans Mtg',	'Vw Credit Tel.',	'Qoins',	'Flex Finance',	'Lending Club',	'Advance America',	'Amerihome Mtg',	'Home Mtg',	'Guild Mortgage',	'Onemain Loan',	'Lakeview Ln Srv',	'Iphone Citiz',	'Moneylion',	'Navi Ed Serv Web',	'Loancare Serv',	'Affirm Payment',	'Self Lender Scc',	'Small Business Administration',	'Fedloanservicing',	'UAS',	'Caliber Home Loa',	'Nelnet Loan Srv',	'United Wholesale Mortgage',	'Speedy Cash',	'Edward Jones',	'Charles Schwab','DreamSpring','Bluevine','INTUIT']
loan_sba = ['shopify capital', 'knight', 'expansion', 'payin', 'sba', 'ondeck', 'kabbage', 'bluevine', 'headway', 'prosper', 'onramp','direct capital edi','lightstream', 'onemain', 'intuit financ', 'ninja', 'good funding','SoFi','rentsidual']
finance_keywords = ['loan', 'finance','disburs','cash advance','advance']

df['loans_flag'] = 0

df.loc[df['merchant_name'].isnull(),'merchant_name'] = ''
df.loc[(df['merchant_name'].str.contains('|'.join(finance_merchants), case=False)),'loans_flag'] = 1

# desc
df.loc[(df['description'].str.contains('|'.join(loan_sba), case=False)),'loans_flag'] = 1
df.loc[(df['description'].str.contains('|'.join(finance_keywords), case=False)),'loans_flag'] = 1

df['loans_flag'].value_counts()

0    752
1      1
Name: loans_flag, dtype: int64

In [19]:
# Payroll
df['payroll_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(payroll_keywords), case=False)),'payroll_flag'] = 1
df.loc[(df['categories'].str.contains('|'.join(payroll), case=False)),'payroll_flag'] = 1

df['payroll_flag'].value_counts()

0    733
1     20
Name: payroll_flag, dtype: int64

In [20]:
#ecom
df['ecom_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(ecom_keywords), case=False)),'ecom_flag'] = 1
df['ecom_flag'].value_counts()

0    740
1     13
Name: ecom_flag, dtype: int64

In [21]:
#third party
df['third_party_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(third_party), case=False)),'third_party_flag'] = 1

df.loc[(df['categories'].str.contains('|'.join(third_party_cat), case=False)),'third_party_flag'] = 1

df['third_party_flag'].value_counts()

0    688
1     65
Name: third_party_flag, dtype: int64

In [22]:
#Services
df['service_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(service), case=False)),'service_flag'] = 1

df.loc[(df['categories'].str.contains('|'.join(service_cat), case=False)),'service_flag'] = 1

df['service_flag'].value_counts()

0    729
1     24
Name: service_flag, dtype: int64

In [23]:
#Shops
df['shops_flag'] = 0
df.loc[(df['description'].str.contains('|'.join(shops), case=False)),'shops_flag'] = 1

df.loc[(df['categories'].str.contains('|'.join(service_cat), case=False)),'shops_flag'] = 1

df['shops_flag'].value_counts()

0    730
1     23
Name: shops_flag, dtype: int64

In [24]:
# ACH
df['ach_flag'] = 0
df.loc[df['description'].str.contains('ACH'),'ach_flag'] = 1
df['ach_flag'].value_counts()

0    749
1      4
Name: ach_flag, dtype: int64

In [25]:
df.shape

(753, 27)

In [27]:
df[df['ach_flag']==1].groupby('business_id',as_index=False)['amount'].count()

                            business_id  amount
0  07bb4be8-674f-40fb-acf7-116ca4ed257c       2
1  3369b5d7-92a0-4d8a-813b-11f34abd34d6       2

In [28]:
print('loans count = {}'.format(df['loans_flag'].sum()))
print('payrolls count = {}'.format(df['payroll_flag'].sum()))
print('third party count = {}'.format(df['third_party_flag'].sum()))
print('ecom count = {}'.format(df['ecom_flag'].sum()))
print('service count = {}'.format(df['service_flag'].sum()))
print('shops count = {}'.format(df['shops_flag'].sum()))
print('POS count = {}'.format(df['pos_flag'].sum()))

loans count = 1
payrolls count = 20
third party count = 65
ecom count = 13
service count = 24
shops count = 23
POS count = 55

In [29]:
df.columns

Index(['id', 'transaction_id', 'business_id', 'external_account_id',
       'plaid_account_id', 'plaid_item_id', 'description', 'categories',
       'amount', 'type', 'date', 'retrieved_at', 'pending',
       'iso_currency_code', 'merchant_name', 'created_at', 'updated_at',
       'today', 'datediff', 'pos_flag', 'loans_flag', 'payroll_flag',
       'ecom_flag', 'third_party_flag', 'service_flag', 'shops_flag',
       'ach_flag'],
      dtype='object')

In [30]:
# Month flag
df['1M_flag'] = 0
df['3M_flag'] = 0
df['6M_flag'] = 0

df.loc[df['datediff'] <= 30,'1M_flag'] = 1
df.loc[df['datediff'] <= 90,'3M_flag'] = 1
df.loc[df['datediff'] <= 180,'6M_flag'] = 1

print('1M count = {}'.format(df['1M_flag'].sum()))
print('3M count = {}'.format(df['3M_flag'].sum()))
print('6M count = {}'.format(df['6M_flag'].sum()))

1M count = 20
3M count = 78
6M count = 186

#### Feature creation

In [31]:
len(df['business_id'].unique())

5

In [32]:
df.columns

Index(['id', 'transaction_id', 'business_id', 'external_account_id',
       'plaid_account_id', 'plaid_item_id', 'description', 'categories',
       'amount', 'type', 'date', 'retrieved_at', 'pending',
       'iso_currency_code', 'merchant_name', 'created_at', 'updated_at',
       'today', 'datediff', 'pos_flag', 'loans_flag', 'payroll_flag',
       'ecom_flag', 'third_party_flag', 'service_flag', 'shops_flag',
       'ach_flag', '1M_flag', '3M_flag', '6M_flag'],
      dtype='object')

In [33]:
base_df = df.groupby('business_id', as_index=False)['amount'].count()

In [34]:
# loans flag
t = df.groupby('business_id',as_index=False)['loans_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('loans count = {}'.format(base_df['loans_flag'].sum()))

# payroll flag
t = df.groupby('business_id',as_index=False)['payroll_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('payrolls count = {}'.format(base_df['payroll_flag'].sum()))

# POS flag
t = df.groupby('business_id',as_index=False)['pos_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('POS count = {}'.format(base_df['pos_flag'].sum()))

# ecom flag
t = df.groupby('business_id',as_index=False)['ecom_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('ecom count = {}'.format(base_df['ecom_flag'].sum()))

# Third party flag
t = df.groupby('business_id',as_index=False)['third_party_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('Third party count = {}'.format(base_df['third_party_flag'].sum()))

# Service flag
t = df.groupby('business_id',as_index=False)['service_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('Service count = {}'.format(base_df['service_flag'].sum()))

# Shops flag
t = df.groupby('business_id',as_index=False)['shops_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('Shops count = {}'.format(base_df['shops_flag'].sum()))

# ACH flag
t = df.groupby('business_id',as_index=False)['ach_flag'].max()
base_df = base_df.merge(t,how='left',on='business_id')
print('ACH count = {}'.format(base_df['ach_flag'].sum()))

loans count = 1
payrolls count = 4
POS count = 4
ecom count = 4
Third party count = 4
Service count = 5
Shops count = 5
ACH count = 2

In [35]:
# credit count 1M / 3M / 6M
t1 = df[df['1M_flag']==1].groupby('business_id',as_index=False)['transaction_id'].count().rename(columns = {'transaction_id':'total_credit_count_1M'})
t3 = df[df['3M_flag']==1].groupby('business_id',as_index=False)['transaction_id'].count().rename(columns = {'transaction_id':'total_credit_count_3M'})
t6 = df[df['6M_flag']==1].groupby('business_id',as_index=False)['transaction_id'].count().rename(columns = {'transaction_id':'total_credit_count_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id') 
base_df = base_df.merge(t6,how='left',on='business_id')

# base_df[['total_credit_count_1M','total_credit_count_3M','total_credit_count_6M']] = base_df[['total_credit_count_1M','total_credit_count_3M','total_credit_count_6M']].fillna(0)

In [36]:
# credit amt 1M / 3M / 6M
t1 = df[df['1M_flag']==1].groupby('business_id',as_index=False)['amount'].sum().rename(columns = {'amount':'total_credit_amt_1M'})
t3 = df[df['3M_flag']==1].groupby('business_id',as_index=False)['amount'].sum().rename(columns = {'amount':'total_credit_amt_3M'})
t6 = df[df['6M_flag']==1].groupby('business_id',as_index=False)['amount'].sum().rename(columns = {'amount':'total_credit_amt_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')

# base_df[['total_credit_amt_1M','total_credit_amt_3M','total_credit_amt_6M']] = base_df[['total_credit_amt_1M','total_credit_amt_3M','total_credit_amt_6M']].fillna(0)

In [37]:
# credit size 1M / 3M / 6M
base_df['credit_size_1M'] = base_df['total_credit_amt_1M']/(1 + base_df['total_credit_count_1M'])
base_df['credit_size_3M'] = base_df['total_credit_amt_3M']/(1 + base_df['total_credit_count_3M'])
base_df['credit_size_6M'] = base_df['total_credit_amt_6M']/(1 + base_df['total_credit_count_6M'])

In [38]:
# stddev credits

t1 = df[df['1M_flag']==1].groupby('business_id',as_index=False)['amount'].agg([np.std,'median']).rename(columns = {'std':'stddev_credit_amt_1M','median':'median_credit_amt_1M'})
t3 = df[df['3M_flag']==1].groupby('business_id',as_index=False)['amount'].agg([np.std,'median']).rename(columns = {'std':'stddev_credit_amt_3M','median':'median_credit_amt_3M'})
t6 = df.groupby('business_id',as_index=False)['amount'].agg([np.std,'median']).rename(columns = {'std':'stddev_credit_amt_6M','median':'median_credit_amt_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')

#ratios
base_df['ratio_stddev_credit_amt_1M_6M'] = base_df['stddev_credit_amt_1M']/(1 + base_df['stddev_credit_amt_6M'])
base_df['ratio_stddev_credit_amt_1M_3M'] = base_df['stddev_credit_amt_1M']/(1 + base_df['stddev_credit_amt_3M'])

base_df['ratio_median_credit_amt_1M_6M'] = base_df['median_credit_amt_1M']/(1 + base_df['median_credit_amt_6M'])
base_df['ratio_median_credit_amt_1M_3M'] = base_df['median_credit_amt_1M']/(1 + base_df['median_credit_amt_3M'])

In [39]:
# categories - sum, count, medin, stddev - 1M / 3M / 6M

t1 = df[(df['loans_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'loans_amt_6M','count':'loans_count_6M','median':'median_loans_amt_6M', 'std': 'stddev_loans_amt_6M'})
t2 = df[(df['payroll_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'payroll_amt_6M','count':'payroll_count_6M','median':'median_payroll_amt_6M', 'std': 'stddev_payroll_amt_6M'})
t3 = df[(df['pos_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'pos_amt_6M','count':'pos_count_6M','median':'median_pos_amt_6M', 'std': 'stddev_pos_amt_6M'})
t4 = df[(df['ecom_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ecom_amt_6M','count':'ecom_count_6M','median':'median_ecom_amt_6M', 'std': 'stddev_ecom_amt_6M'})
t5 = df[(df['third_party_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'third_party_amt_6M','count':'third_party_count_6M','median':'median_third_party_amt_6M', 'std': 'stddev_third_party_amt_6M'})
t6 = df[(df['service_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'service_amt_6M','count':'service_count_6M','median':'median_service_amt_6M', 'std': 'stddev_service_amt_6M'})
t7 = df[(df['shops_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'shops_amt_6M','count':'shops_count_6M','median':'median_shops_amt_6M', 'std': 'stddev_shops_amt_6M'})
t8 = df[(df['ach_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ach_amt_6M','count':'ach_count_6M','median':'median_ach_amt_6M', 'std': 'stddev_ach_amt_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')
base_df = base_df.merge(t5,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')
base_df = base_df.merge(t7,how='left',on='business_id')
base_df = base_df.merge(t8,how='left',on='business_id')

t1 = df[(df['loans_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'loans_amt_3M','count':'loans_count_3M','median':'median_loans_amt_3M', 'std': 'stddev_loans_amt_3M'})
t2 = df[(df['payroll_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'payroll_amt_3M','count':'payroll_count_3M','median':'median_payroll_amt_3M', 'std': 'stddev_payroll_amt_3M'})
t3 = df[(df['pos_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'pos_amt_3M','count':'pos_count_3M','median':'median_pos_amt_3M', 'std': 'stddev_pos_amt_3M'})
t4 = df[(df['ecom_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ecom_amt_3M','count':'ecom_count_3M','median':'median_ecom_amt_3M', 'std': 'stddev_ecom_amt_3M'})
t5 = df[(df['third_party_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'third_party_amt_3M','count':'third_party_count_3M','median':'median_third_party_amt_3M', 'std': 'stddev_third_party_amt_3M'})
t6 = df[(df['service_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'service_amt_3M','count':'service_count_3M','median':'median_service_amt_3M', 'std': 'stddev_service_amt_3M'})
t7 = df[(df['shops_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'shops_amt_3M','count':'shops_count_3M','median':'median_shops_amt_3M', 'std': 'stddev_shops_amt_3M'})
t8 = df[(df['ach_flag']==1) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ach_amt_3M','count':'ach_count_3M','median':'median_ach_amt_3M', 'std': 'stddev_ach_amt_3M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')
base_df = base_df.merge(t5,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')
base_df = base_df.merge(t7,how='left',on='business_id')
base_df = base_df.merge(t8,how='left',on='business_id')

t1 = df[(df['loans_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'loans_amt_1M','count':'loans_count_1M','median':'median_loans_amt_1M', 'std': 'stddev_loans_amt_1M'})
t2 = df[(df['payroll_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'payroll_amt_1M','count':'payroll_count_1M','median':'median_payroll_amt_1M', 'std': 'stddev_payroll_amt_1M'})
t3 = df[(df['pos_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'pos_amt_1M','count':'pos_count_1M','median':'median_pos_amt_1M', 'std': 'stddev_pos_amt_1M'})
t4 = df[(df['ecom_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ecom_amt_1M','count':'ecom_count_1M','median':'median_ecom_amt_1M', 'std': 'stddev_ecom_amt_1M'})
t5 = df[(df['third_party_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'third_party_amt_1M','count':'third_party_count_1M','median':'median_third_party_amt_1M', 'std': 'stddev_third_party_amt_1M'})
t6 = df[(df['service_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'service_amt_1M','count':'service_count_1M','median':'median_service_amt_1M', 'std': 'stddev_service_amt_1M'})
t7 = df[(df['shops_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'shops_amt_1M','count':'shops_count_1M','median':'median_shops_amt_1M', 'std': 'stddev_shops_amt_1M'})
t8 = df[(df['ach_flag']==1) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['sum','count','median',np.std]).rename(columns = {'sum':'ach_amt_1M','count':'ach_count_1M','median':'median_ach_amt_1M', 'std': 'stddev_ach_amt_1M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')
base_df = base_df.merge(t5,how='left',on='business_id')
base_df = base_df.merge(t6,how='left',on='business_id')
base_df = base_df.merge(t7,how='left',on='business_id')
base_df = base_df.merge(t8,how='left',on='business_id')

In [40]:
# size 1M / 3M / 6M
base_df['loans_size_1M'] = base_df['loans_amt_1M']/(1 + base_df['loans_count_1M'])
base_df['payroll_size_1M'] = base_df['payroll_amt_1M']/(1 + base_df['payroll_count_1M'])
base_df['pos_size_1M'] = base_df['pos_amt_1M']/(1 + base_df['pos_count_1M'])
base_df['ecom_size_1M'] = base_df['ecom_amt_1M']/(1 + base_df['ecom_count_1M'])
base_df['third_party_size_1M'] = base_df['third_party_amt_1M']/(1 + base_df['third_party_amt_1M'])
base_df['service_size_1M'] = base_df['service_amt_1M']/(1 + base_df['service_count_1M'])
base_df['shops_size_1M'] = base_df['shops_amt_1M']/(1 + base_df['shops_count_1M'])
base_df['ach_size_1M'] = base_df['ach_amt_1M']/(1 + base_df['ach_count_1M'])

base_df['loans_size_3M'] = base_df['loans_amt_3M']/(1 + base_df['loans_count_3M'])
base_df['payroll_size_3M'] = base_df['payroll_amt_3M']/(1 + base_df['payroll_count_3M'])
base_df['pos_size_3M'] = base_df['pos_amt_3M']/(1 + base_df['pos_count_3M'])
base_df['ecom_size_3M'] = base_df['ecom_amt_3M']/(1 + base_df['ecom_count_3M'])
base_df['third_party_size_3M'] = base_df['third_party_amt_3M']/(1 + base_df['third_party_amt_3M'])
base_df['service_size_3M'] = base_df['service_amt_3M']/(1 + base_df['service_count_3M'])
base_df['shops_size_3M'] = base_df['shops_amt_3M']/(1 + base_df['shops_count_3M'])
base_df['ach_size_3M'] = base_df['ach_amt_3M']/(1 + base_df['ach_count_3M'])

base_df['loans_size_6M'] = base_df['loans_amt_6M']/(1 + base_df['loans_count_6M'])
base_df['payroll_size_6M'] = base_df['payroll_amt_6M']/(1 + base_df['payroll_count_6M'])
base_df['pos_size_6M'] = base_df['pos_amt_6M']/(1 + base_df['pos_count_6M'])
base_df['ecom_size_6M'] = base_df['ecom_amt_6M']/(1 + base_df['ecom_count_6M'])
base_df['third_party_size_6M'] = base_df['third_party_amt_6M']/(1 + base_df['third_party_amt_6M'])
base_df['service_size_6M'] = base_df['service_amt_6M']/(1 + base_df['service_count_6M'])
base_df['shops_size_6M'] = base_df['shops_amt_6M']/(1 + base_df['shops_count_6M'])
base_df['ach_size_6M'] = base_df['ach_amt_6M']/(1 + base_df['ach_count_6M'])

In [41]:
# ratios 1M/6M & 1M/3M & 3M/6M

base_df['ratio_loan_size_1M_6M'] = base_df['loans_size_1M']/(1 + base_df['loans_size_6M'])
base_df['ratio_payroll_size_1M_6M'] = base_df['payroll_size_1M']/(1 + base_df['payroll_size_6M'])
base_df['ratio_pos_size_1M_6M'] = base_df['pos_size_1M']/(1 + base_df['pos_size_6M'])
base_df['ratio_ecom_size_1M_6M'] = base_df['ecom_size_1M']/(1 + base_df['ecom_size_6M'])
base_df['ratio_third_party_size_1M_6M'] = base_df['third_party_size_1M']/(1 + base_df['third_party_size_6M'])
base_df['ratio_service_size_1M_6M'] = base_df['service_size_1M']/(1 + base_df['service_size_6M'])
base_df['ratio_shops_size_1M_6M'] = base_df['shops_size_1M']/(1 + base_df['shops_size_6M'])
base_df['ratio_ach_size_1M_6M'] = base_df['ach_size_1M']/(1 + base_df['ach_size_6M'])

base_df['ratio_loan_size_1M_3M'] = base_df['loans_size_1M']/(1 + base_df['loans_size_3M'])
base_df['ratio_payroll_size_1M_3M'] = base_df['payroll_size_1M']/(1 + base_df['payroll_size_3M'])
base_df['ratio_pos_size_1M_3M'] = base_df['pos_size_1M']/(1 + base_df['pos_size_3M'])
base_df['ratio_ecom_size_1M_3M'] = base_df['ecom_size_1M']/(1 + base_df['ecom_size_3M'])
base_df['ratio_third_party_size_1M_3M'] = base_df['third_party_size_1M']/(1 + base_df['third_party_size_3M'])
base_df['ratio_service_size__1M_3M'] = base_df['service_size_1M']/(1 + base_df['service_size_3M'])
base_df['ratio_shops_size_1M_3M'] = base_df['shops_size_1M']/(1 + base_df['shops_size_3M'])
base_df['ratio_ach_size_1M_3M'] = base_df['ach_size_1M']/(1 + base_df['ach_size_3M'])

base_df['ratio_median_loan_amt_3M_6M'] = base_df['median_loans_amt_3M']/(1 + base_df['median_loans_amt_6M'])
base_df['ratio_median_payroll_amt_3M_6M'] = base_df['median_payroll_amt_3M']/(1 + base_df['median_payroll_amt_6M'])
base_df['ratio_median_pos_amt_3M_6M'] = base_df['median_pos_amt_3M']/(1 + base_df['median_pos_amt_6M'])
base_df['ratio_median_ecom_amt_3M_6M'] = base_df['median_ecom_amt_3M']/(1 + base_df['median_ecom_amt_6M'])
base_df['ratio_median_third_party_amt_3M_6M'] = base_df['median_third_party_amt_3M']/(1 + base_df['median_third_party_amt_6M'])
base_df['ratio_median_service_amt_3M_6M'] = base_df['median_service_amt_3M']/(1 + base_df['median_service_amt_6M'])
base_df['ratio_median_shops_amt_3M_6M'] = base_df['median_shops_amt_3M']/(1 + base_df['median_shops_amt_6M'])
base_df['ratio_median_ach_amt_3M_6M'] = base_df['median_ach_amt_3M']/(1 + base_df['median_ach_amt_6M'])


base_df['ratio_stddev_loan_amt_3M_6M'] = base_df['stddev_loans_amt_3M']/(1 + base_df['stddev_loans_amt_6M'])
base_df['ratio_stddev_payroll_amt_3M_6M'] = base_df['stddev_payroll_amt_3M']/(1 + base_df['stddev_payroll_amt_6M'])
base_df['ratio_stddev_pos_amt_3M_6M'] = base_df['stddev_pos_amt_3M']/(1 + base_df['stddev_pos_amt_6M'])
base_df['ratio_stddev_ecom_amt_3M_6M'] = base_df['stddev_ecom_amt_3M']/(1 + base_df['stddev_ecom_amt_6M'])
base_df['ratio_stddev_third_party_amt_3M_6M'] = base_df['stddev_third_party_amt_3M']/(1 + base_df['stddev_third_party_amt_6M'])
base_df['ratio_stddev_service_amt_3M_6M'] = base_df['stddev_service_amt_3M']/(1 + base_df['stddev_service_amt_6M'])
base_df['ratio_stddev_shops_amt_3M_6M'] = base_df['stddev_shops_amt_3M']/(1 + base_df['stddev_shops_amt_6M'])
base_df['ratio_stddev_ach_amt_3M_6M'] = base_df['stddev_ach_amt_3M']/(1 + base_df['stddev_ach_amt_6M'])

In [42]:
# ratio cat/credit

base_df['ratio_loans_size_credit_size_1M'] = base_df['loans_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_payroll_size_credit_size_1M'] = base_df['payroll_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_pos_size_credit_size_1M'] = base_df['pos_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_ecom_size_credit_size_1M'] = base_df['ecom_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_third_party_size_credit_size_1M'] = base_df['third_party_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_service_size_credit_size_1M'] = base_df['service_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_shops_size_credit_size_1M'] = base_df['shops_size_1M']/(1 + base_df['credit_size_1M'])
base_df['ratio_ach_size_credit_size_1M'] = base_df['ach_size_1M']/(1 + base_df['credit_size_1M'])

base_df['ratio_loans_size_credit_size_3M'] = base_df['loans_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_payroll_size_credit_size_3M'] = base_df['payroll_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_pos_size_credit_size_3M'] = base_df['pos_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_ecom_size_credit_size_3M'] = base_df['ecom_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_third_party_size_credit_size_3M'] = base_df['third_party_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_service_size_credit_size_3M'] = base_df['service_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_shops_size_credit_size_3M'] = base_df['shops_size_3M']/(1 + base_df['credit_size_3M'])
base_df['ratio_ach_size_credit_size_3M'] = base_df['ach_size_3M']/(1 + base_df['credit_size_3M'])

base_df['ratio_loans_size_credit_size_6M'] = base_df['loans_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_payroll_size_credit_size_6M'] = base_df['payroll_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_pos_size_credit_size_6M'] = base_df['pos_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_ecom_size_credit_size_6M'] = base_df['ecom_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_third_party_size_credit_size_6M'] = base_df['third_party_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_service_size_credit_size_6M'] = base_df['service_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_shops_size_credit_size_6M'] = base_df['shops_size_6M']/(1 + base_df['credit_size_6M'])
base_df['ratio_ach_size_credit_size_6M'] = base_df['ach_size_6M']/(1 + base_df['credit_size_6M'])

In [43]:
# amount features

In [44]:
t1 = df[(df['amount']<100) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_lessthan_100_1M','count':'count_credits_lessthan_100_1M'})
t2 = df[(df['amount']>=100) & (df['amount']<500) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_100_to_500_1M','count':'count_credits_100_to_500_1M'})
t3 = df[(df['amount']>=500) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_500_1M','count':'count_credits_grt_500_1M'})
t4 = df[(df['amount']>=1500) & (df['1M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_1500_1M','count':'count_credits_grt_1500_1M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')

t1 = df[(df['amount']<100) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_lessthan_100_3M','count':'count_credits_lessthan_100_3M'})
t2 = df[(df['amount']>=100) & (df['amount']<500) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_100_to_500_3M','count':'count_credits_100_to_500_3M'})
t3 = df[(df['amount']>=500) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_500_3M','count':'count_credits_grt_500_3M'})
t4 = df[(df['amount']>=1500) & (df['3M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_1500_3M','count':'count_credits_grt_1500_3M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')

t1 = df[(df['amount']<100) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_lessthan_100_6M','count':'count_credits_lessthan_100_6M'})
t2 = df[(df['amount']>=100) & (df['amount']<500) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_100_to_500_6M','count':'count_credits_100_to_500_6M'})
t3 = df[(df['amount']>=500) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_500_6M','count':'count_credits_grt_500_6M'})
t4 = df[(df['amount']>=1500) & (df['6M_flag']==1)].groupby('business_id',as_index=False)['amount'].agg(['count','sum']).rename(columns={'sum':'sum_credits_grt_1500_6M','count':'count_credits_grt_1500_6M'})

base_df = base_df.merge(t1,how='left',on='business_id')
base_df = base_df.merge(t2,how='left',on='business_id')
base_df = base_df.merge(t3,how='left',on='business_id')
base_df = base_df.merge(t4,how='left',on='business_id')

In [45]:
# amount ratios

base_df['ratio_credits_lessthan_100_1M_3M'] = base_df['count_credits_lessthan_100_1M']/(1 + base_df['count_credits_lessthan_100_3M'])
base_df['ratio_credits_lessthan_100_1M_6M'] = base_df['count_credits_lessthan_100_1M']/(1 + base_df['count_credits_lessthan_100_6M'])

base_df['ratio_credits_grt_500_1M_3M'] = base_df['count_credits_grt_500_1M']/(1 + base_df['count_credits_grt_500_3M'])
base_df['ratio_credits_grt_500_1M_6M'] = base_df['count_credits_grt_500_1M']/(1 + base_df['count_credits_grt_500_6M'])

base_df['ratio_credits_grt_1500_1M_3M'] = base_df['count_credits_grt_1500_1M']/(1 + base_df['count_credits_grt_1500_3M'])
base_df['ratio_credits_grt_1500_1M_6M'] = base_df['count_credits_grt_1500_1M']/(1 + base_df['count_credits_grt_1500_6M'])

In [46]:
# amount ratios 2 
base_df['ratio_amt_credits_less_100_credits_grt_500_6M'] = base_df['sum_credits_lessthan_100_6M']/(1 + base_df['sum_credits_grt_500_6M'])
base_df['ratio_amt_credits_less_100_credits_grt_500_3M'] = base_df['sum_credits_lessthan_100_3M']/(1 + base_df['sum_credits_grt_500_3M'])

base_df['ratio_amt_credits_less_100_credits_grt_1500_6M'] = base_df['sum_credits_lessthan_100_6M']/(1 + base_df['sum_credits_grt_1500_6M'])
base_df['ratio_amt_credits_less_100_credits_grt_1500_3M'] = base_df['sum_credits_lessthan_100_3M']/(1 + base_df['sum_credits_grt_1500_3M'])

base_df['ratio_amt_credits_grt_500_credits_grt_1500_6M'] = base_df['sum_credits_grt_500_6M']/(1 + base_df['sum_credits_grt_1500_6M'])
base_df['ratio_amt_credits_grt_500_credits_grt_1500_3M'] = base_df['sum_credits_grt_500_3M']/(1 + base_df['sum_credits_grt_1500_3M'])


base_df['ratio_cnt_credits_less_100_credits_grt_500_6M'] = base_df['count_credits_lessthan_100_6M']/(1 + base_df['count_credits_grt_500_6M'])
base_df['ratio_cnt_credits_less_100_credits_grt_500_3M'] = base_df['count_credits_lessthan_100_3M']/(1 + base_df['count_credits_grt_500_3M'])

base_df['ratio_cnt_credits_less_100_credits_grt_1500_6M'] = base_df['count_credits_lessthan_100_6M']/(1 + base_df['count_credits_grt_1500_6M'])
base_df['ratio_cnt_credits_less_100_credits_grt_1500_3M'] = base_df['count_credits_lessthan_100_3M']/(1 + base_df['count_credits_grt_1500_3M'])

base_df['ratio_cnt_credits_grt_500_credits_grt_1500_6M'] = base_df['count_credits_grt_500_6M']/(1 + base_df['count_credits_grt_1500_6M'])
base_df['ratio_cnt_credits_grt_500_credits_grt_1500_3M'] = base_df['count_credits_grt_500_3M']/(1 + base_df['count_credits_grt_1500_3M'])

In [47]:
# txns in each month flag
df['txn_l1m_flag'] = 0
df['txn_2nd_mth_flag'] = 0
df['txn_3rd_mth_flag'] = 0
df['txn_4th_mth_flag'] = 0
df['txn_5th_mth_flag'] = 0
df['txn_6th_mth_flag'] = 0

df.loc[(df['datediff']<=30),'txn_l1m_flag'] = 1
df.loc[(df['datediff']>30) & (df['datediff']<=60),'txn_2nd_mth_flag'] = 1
df.loc[(df['datediff']>60) & (df['datediff']<=90),'txn_3rd_mth_flag'] = 1
df.loc[(df['datediff']>90) & (df['datediff']<=120),'txn_4th_mth_flag'] = 1
df.loc[(df['datediff']>120) & (df['datediff']<=150),'txn_5th_mth_flag'] = 1
df.loc[(df['datediff']>150) & (df['datediff']<=180),'txn_6th_mth_flag'] = 1

t1 = df.groupby('business_id',as_index=False)[['txn_l1m_flag','txn_2nd_mth_flag','txn_3rd_mth_flag','txn_4th_mth_flag','txn_5th_mth_flag','txn_6th_mth_flag']].max()
t1['txn_each_mth_flag'] = 0
t1.loc[(t1['txn_l1m_flag']==1) & (t1['txn_2nd_mth_flag']==1) & (t1['txn_3rd_mth_flag']==1) & (t1['txn_4th_mth_flag']==1) & (t1['txn_5th_mth_flag']==1) & (t1['txn_6th_mth_flag']==1),'txn_each_mth_flag'] = 1

base_df = base_df.merge(t1[['business_id','txn_each_mth_flag']],how='left',on = 'business_id')

t1 = df[df['amount']>100].groupby('business_id',as_index=False)[['txn_l1m_flag','txn_2nd_mth_flag','txn_3rd_mth_flag','txn_4th_mth_flag','txn_5th_mth_flag','txn_6th_mth_flag']].max()
t1['txn_grt_100_each_mth_flag'] = 0
t1.loc[(t1['txn_l1m_flag']==1) & (t1['txn_2nd_mth_flag']==1) & (t1['txn_3rd_mth_flag']==1) & (t1['txn_4th_mth_flag']==1) & (t1['txn_5th_mth_flag']==1) & (t1['txn_6th_mth_flag']==1),'txn_grt_100_each_mth_flag'] = 1

base_df = base_df.merge(t1[['business_id','txn_grt_100_each_mth_flag']],how='left',on = 'business_id')

In [48]:
base_df.columns
# len(base_df.columns)

Index(['business_id', 'amount', 'loans_flag', 'payroll_flag', 'pos_flag',
       'ecom_flag', 'third_party_flag', 'service_flag', 'shops_flag',
       'ach_flag',
       ...
       'ratio_amt_credits_grt_500_credits_grt_1500_6M',
       'ratio_amt_credits_grt_500_credits_grt_1500_3M',
       'ratio_cnt_credits_less_100_credits_grt_500_6M',
       'ratio_cnt_credits_less_100_credits_grt_500_3M',
       'ratio_cnt_credits_less_100_credits_grt_1500_6M',
       'ratio_cnt_credits_less_100_credits_grt_1500_3M',
       'ratio_cnt_credits_grt_500_credits_grt_1500_6M',
       'ratio_cnt_credits_grt_500_credits_grt_1500_3M', 'txn_each_mth_flag',
       'txn_grt_100_each_mth_flag'],
      dtype='object', length=249)

In [49]:
final_df = base_df.copy()

In [50]:
t = pd.DataFrame(df['business_id'].unique(),columns=['business_id'])
t['txn_flag'] = 1
final_df = final_df.merge(t,how='left',on='business_id')
final_df['txn_flag'] = final_df['txn_flag'].fillna(0)
final_df.shape

(5, 250)

In [51]:
final_df['txn_flag'].value_counts()

1    5
Name: txn_flag, dtype: int64

In [52]:
feat_list = ['business_id',
'count_credits_grt_500_3M',
'ratio_amt_credits_less_100_credits_grt_500_3M',
'ach_count_6M',
'median_pos_amt_3M',
'median_credit_amt_1M',
'ratio_pos_size_1M_6M',
'loans_size_6M',
'credit_size_3M',
'pos_size_1M']

In [53]:
final_df[feat_list].to_clipboard()

In [58]:
df[(df['business_id']=='07bb4be8-674f-40fb-acf7-116ca4ed257c')&(df['loans_flag']==1)]

,id,transaction_id,business_id,external_account_id,plaid_account_id,plaid_item_id,description,categories,amount,type,...,ach_flag,1M_flag,3M_flag,6M_flag,txn_l1m_flag,txn_2nd_mth_flag,txn_3rd_mth_flag,txn_4th_mth_flag,txn_5th_mth_flag,txn_6th_mth_flag
635,b28ce121-fa22-4a5b-8413-9a1044d729ed,zeggqDVeEJHpkaJZnnNacgqBb7ndLBTzz70zx,07bb4be8-674f-40fb-acf7-116ca4ed257c,bfcf55b0-b183-4b92-add8-e2abe391435c,B500KvP5ORT4YzVyggDrhj4vv0dB6kHdPdQob,d2ef3f5b-ea90-4d9c-8a16-30b2fabfb95d,CRB UPL LOAN PPD ID: 9088507376,"Service,Financial,Loans and Mortgages",12819.75,credit,...,0,0,0,0,0,0,0,0,0,0

In [63]:
df[(df['business_id']=='07bb4be8-674f-40fb-acf7-116ca4ed257c')&(df['loans_flag']==1)&(df['6M_flag']==1)]

Empty DataFrame
Columns: [id, transaction_id, business_id, external_account_id, plaid_account_id, plaid_item_id, description, categories, amount, type, date, retrieved_at, pending, iso_currency_code, merchant_name, created_at, updated_at, today, datediff, pos_flag, loans_flag, payroll_flag, ecom_flag, third_party_flag, service_flag, shops_flag, ach_flag, 1M_flag, 3M_flag, 6M_flag, txn_l1m_flag, txn_2nd_mth_flag, txn_3rd_mth_flag, txn_4th_mth_flag, txn_5th_mth_flag, txn_6th_mth_flag]
Index: []

[0 rows x 36 columns]

In [57]:
df[(df['business_id']=='07bb4be8-674f-40fb-acf7-116ca4ed257c')&(df['ach_flag']==1)]['date']

600   2022-06-21
602   2022-06-08
Name: date, dtype: datetime64[ns]